
.progress-ind {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .5;
}
.progress-ind > div {
  position: absolute;
  top: 50%;
  left: 50%;
}
.progress-ind img {
  position: relative;
  top: -64px;
  left: -64px;
}

.item {
  margin: 2px;
  background: #fbe1b0;
  border-radius: 10px 0 0 10px;
  padding: 0;
}
.item:active {
}
.item .number {
  width: 50px;
  text-align: center;
  font-size: 32px;
  background: #7b3d00;
  color: white;
  border-radius: 10px 0 0 10px;
}
.item .text {
  padding: 5px;
  color: #333;
}

.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-collapse: separate;
  border-spacing: 5px;
  background-color: white;
}
.header .col-1 {
  width: 1%;
}
.header .col-2 {
  text-align: center;
  font-size: small;
  background-color: #333;
  color: aliceblue;
}
.header .col-3 {
  width: 1%;
}

.footer {
  clear: both;
  text-align: center;
  height: 40px;
}

.article {
  margin: 5px;
}
.article .title {
  clear: both;
  padding: 10px;
  text-align: center;
  font-size: large;
  background-color: #6d8546;
  color: white;
  border-radius: 10px 10px 0 0;
}
.article .content {
  padding: 10px;
  background-color: #c8c9b2;
  color: #333;
  border-radius: 0 0 10px 10px;
}
